.dropdown {
	position: relative;

	&:hover &__content {
		display: block;
	}

	&:hover &__header-icon {
		transform: rotate(180deg);
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__header-icon {
		width: 6px;
		height: 6px;
		mask-size: contain;
		mask-repeat: no-repeat;
		background-color: var(--primary-9);
		transition: all 300ms;
	}

	&__content {
		display: none;
		position: absolute;
		right: 0;
		min-width: 200px;
		z-index: 99;
	}

	&__content-wrap {
		padding: 10px 0 0 0;
	}
}
